#navigationbar{
	list-style: none;
    margin: 0;
    padding: 0;
	background-color:blue;
	box-shadow: 0 10px 5px grey;
	position:fixed;
	left:0px;
	top:0px;
	right:0px;
}
#navigationbar li
{

	display:inline;
	
}	
#navigationbar li a{
	display:inline-block;
	color:white;
	padding:22px 30px;
	text-decoration:none;
	
}
#navigationbar li a:hover
{
	background-color:grey;
}
button
{
	color:white;
	background-color:blue;
	border:solid blue;
	padding:10px 30px;
	border-radius:12px;
	box-shadow:0 5px 8px black;
	
}
button:active
{
	background-color:solid blue;
	transform: translateY(4px);
	border:#3e8e41;
}
#box
{
	border:1px solid black;
	height:615px;
	width:1200px;
	margin:0 auto;
	margin-top:0px;
	box-shadow:0 10px 10px grey;
	
}
			#chart-container {
				width: 640px;
				height: auto;
			}